<!--  <%= link_to "hey", "" %>  -->
<!-- <div class="container">
	<div class="jumbotron2"> 
		
		<h1> GREGORY IANNACONE </h1>

	</div>
</div>-->
<!-- Start Sequence Slider -->
<!--<div class="sequence-wrapper"> 
    <div class="container">
      
      <section class="content-slider-wrapper container">  
        <div id="sequence-theme">
          <div id="sequence">
            <div class="prev"><i class="icon-angle-left icon-white"></i></div>
            <div class="next"><i class="icon-angle-right icon-white"></i></div>
            <ul>
              <li class="animate-in">
                <h2 class="title">Glass Panel<br /> Styled Theme</h2>
                <h3 class="subtitle">Phasellus euismod accumsan massa a pellentesque.</h3>
                <a href="#" class="link btn btn-large btn-glass">Read more</a>
                <img class="slide-left" src="/assets/Home/devices.png" alt="" />
              </li>
              <li>
                <h2 class="title">Responsive<br /> Bootstrap Templates</h2>
                <h3 class="subtitle">Phasellus euismod accumsan massa a pellentesque.</h3>
                <a href="#" class="link btn btn-large btn-glass">Read more</a>
                <img class="slide-left" src="/assets/Home/standards.png" alt="" />
              </li>
              <li>
                <h2 class="title-full">A Variety of Colour Options</h2>
                <img class="slide-full" src="/assets/Home/full.png" alt="" />
              </li>
            </ul>
          </div>
          <ul class="nav">
            <li><img src="/assets/Home/i1.png" alt="Model 1" /></li>
            <li><img src="/assets/Home/i2.png" alt="Model 2" /></li>
            <li><img src="/assets/Home/i3.png" alt="Model 3" /></li>
          </ul>
        </div>     
      </section>
      
      
    </div> 
  </div>--><!-- End Sequence Slider --><!--
  
  <section class="outer-wrapper container">
    <div class="container">
      
      --><!-- Featured Section Calls to Action --><!--
      <div class="row featured">
        <div class="span4">
          <article class="thumbnail">
            <img src="/assets/Home/image-1.jpg" alt="" />
            <div class="caption">  
              <h3>Gravida elit at eget metus</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p class="clearfix"><a class="btn btn-glass pull-right" href="#">Read more</a></p>
            </div>
          </article>
        </div>
        <div class="span4">
          <article class="thumbnail">
            <img src="/assets/Home/image-2.jpg" alt="" />
            <div class="caption">  
              <h3>Donec id elit non mi porta</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p class="clearfix"><a class="btn btn-glass pull-right" href="#">Read more</a></p>
            </div>
          </article>
        </div>
        <div class="span4">
          <article class="thumbnail">
            <img src="/assets/Home/image-3.jpg" alt="" />
            <div class="caption">  
              <h3>Tellus cursus commodo</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p class="clearfix"><a class="btn btn-glass pull-right" href="#">Read more</a></p>
            </div>
          </article>
        </div>
      </div>
      --><!-- End Featured Section Calls to Action -->
      
      <!-- Start Newsletter Call to Action --><!--
      <div class="well highlighted">
        <div class="row-fluid">
          <div class="span8 text-center">
            <h3><i class="icon-envelope-alt"></i>&nbsp; Find out about the latest developments from our company</h3>
            <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
          <div class="span4 text-center">
            <a href="#glass-modal" role="button" class="btn btn-large btn-success" data-toggle="modal"><h4><i class="icon-envelope"></i>&nbsp; Sign Up to Our Newsletter</h4><small>And try out the modal!</small></a>
          </div>
        </div>          
      </div>
      --><!-- End Newsletter Call to Action -->
      
      <!-- Fancy Page Title --><!--
      <div class="row-fluid">
        <div class="span4"><hr class="featurette-divider" /></div>
        <div class="span4 text-center"><h2 class="sub-title"><span>Our</span> Clients</h2></div>
        <div class="span4"><hr class="featurette-divider" /></div>     
      </div>
      --><!-- End Page Title -->
      
      <!-- Start Client Logos --><!--
      <div class="row-fluid copybox">
        
        <div class="span2">  
          <div class="thumbnail greybox">
            <div class="white-out"></div>  
            <a href="#"><img src="/assets/Home/logos/logo-1.png" alt="" /></a> 
          </div>
        </div>
        
        <div class="span2">  
          <div class="thumbnail greybox">
            <div class="white-out"></div> 
            <a href="#"><img src="/assets/Home/logos/logo-2.png" alt="" /></a>  
          </div>
        </div> 
        
        <div class="span2">  
          <div class="thumbnail greybox">
            <div class="white-out"></div> 
            <a href="#"><img src="/assets/Home/logos/logo-3.png" alt="" /></a>  
          </div>
        </div> 
        
        <div class="span2">  
          <div class="thumbnail greybox">
            <div class="white-out"></div> 
            <a href="#"><img src="/assets/Home/logos/logo-4.png" alt="" /></a> 
          </div>
        </div> 
        
        <div class="span2">  
          <div class="thumbnail greybox">
            <div class="white-out"></div> 
            <a href="#"><img src="/assets/Home/logos/logo-5.png" alt="" /></a>  
          </div>
        </div> 	  
        
        <div class="span2">  
          <div class="thumbnail greybox">
            <div class="white-out"></div>
            <a href="#"><img src="/assets/Home/logos/logo-6.png" alt="" /></a>  
          </div>
        </div> 	  
        
      </div>
      --><!-- End Client Logos -->
      
      <!-- Start Featurettes --><!--
      <div class="row">
        <div class="span12">	
          <div class="well copybox">
            
            <hr class="featurette-divider" />
            
            <div class="featurette">
              <img class="featurette-image pull-right" src="/assets/Home/iphone.png" alt="" />
              <h2 class="featurette-heading">Use these headlines for impact. <span class="muted">Showcase your features.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            
            <hr class="featurette-divider" />
            
            <div class="featurette">
              <img class="featurette-image pull-left" src="/assets/Home/ipad.png" alt="" />
              <h2 class="featurette-heading">Talk about what's good. <span class="muted">Shout about it.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            
            <hr class="featurette-divider" />
            
            <div class="featurette">
              <img class="featurette-image pull-right" src="/assets/Home/imac.png" alt="" />
              <h2 class="featurette-heading">Lead into a call to action... <span class="muted">Achieve something.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            
            <hr class="featurette-divider" />
            
          </div>
        </div>
      </div>
      --><!-- End Featurettes -->  
      
      <!-- Fancy Page Title --><!--
      <div class="row-fluid">
        <div class="span3"><hr class="featurette-divider" /></div>
        <div class="span6 text-center"><h2 class="sub-title"><span>Transparent</span> Features</h2></div>
        <div class="span3"><hr class="featurette-divider" /></div>     
      </div>
      --><!-- End Page Title --><!--
      
      
      <div class="row">
        <div class="span8">
          --><!-- Start Tab Box --><!--  
          <div class="well copybox">
            <div class="tabbable glass-tabs tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#glass-tab-1" data-toggle="tab"><i class="icon-camera-retro"></i>&nbsp; Section 1</a></li>
                <li class=""><a href="#glass-tab-2" data-toggle="tab"><i class="icon-group"></i>&nbsp; Social Options</a></li>
                <li class=""><a href="#glass-tab-3" data-toggle="tab"><i class="icon-truck"></i>&nbsp; Delivery</a></li>
              </ul>
              <div class="tab-content">
                --><!-- Start Tab 1 -->  <!--
                <div class="tab-pane fade in active" id="glass-tab-1">
                  <div class="row-fluid">
                    <div class="span3"><hr class="featurette-divider" /></div>
                    <div class="span6 text-center"><h3 class="sub-title"><span>Great</span> for Images</h3></div>
                    <div class="span3"><hr class="featurette-divider" /></div>     
                  </div>
                  <i class="icon-camera-retro extra-large pull-left glass-icon"></i>
                  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna.</p> 
                  <p class="lead">Vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                --><!-- Start Tab 2 -->   <!--
                <div class="tab-pane fade" id="glass-tab-2">
                  <div class="row-fluid">
                    <div class="span3"><hr class="featurette-divider" /></div>
                    <div class="span6 text-center"><h3 class="sub-title"><span>Lots of</span> Social Options</h3></div>
                    <div class="span3"><hr class="featurette-divider" /></div>     
                  </div>
                  <i class="icon-group extra-large pull-left glass-icon"></i>
                  <p class="lead">Praesent commodo cursus magna. Donec ullamcorper nulla non metus auctor fringilla.</p> 
                  <p class="lead">Vestibulum id ligula porta felis euismod semper. Scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                --><!-- Start Tab 3 -->  <!-- 
                <div class="tab-pane fade" id="glass-tab-3">
                  <div class="row-fluid">
                    <div class="span3"><hr class="featurette-divider" /></div>
                    <div class="span6 text-center"><h3 class="sub-title"><span>We</span> Deliver</h3></div>
                    <div class="span3"><hr class="featurette-divider" /></div>     
                  </div>
                  <i class="icon-truck extra-large pull-left glass-icon"></i>
                  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.</p> 
                  <p class="lead">Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
          </div>
          --><!-- End Tab Block --> <!-- 
        </div>
        <div class="span4"> 
          
          --><!-- Fancy Page Title --><!--
          <div class="row-fluid">
            <div class="span2"><hr class="featurette-divider" /></div>
            <div class="span8 text-center"><h3 class="sub-title"><span>What Our</span> Clients Say</h3></div>
            <div class="span2"><hr class="featurette-divider" /></div>     
          </div>
          --><!-- End Page Title -->
          
          <!-- Start Testamonials Carousel --><!--
          <div class="well transparent">
            <section id="testamonials" class="carousel slide">
              --><!-- Carousel items --><!--
              <div class="carousel-inner">
                <article class="active item">
                  <blockquote>
                    <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
                    <p>"Phasellus a metus et urna interdum vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
                    <small class="text-right">Joe Bloggs</small>
                  </blockquote> 
                </article>
                <article class="item">
                  <blockquote>
                    <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
                    <p>"Vestibulum id ligula porta felis euismod semper. Scelerisque nisl consectetur. Phasellus a metus et urna interdum vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
                    <small class="text-right">Arthur Scargill</small>
                  </blockquote> 
                </article>
                <article class="item">
                  <blockquote>
                    <i class="icon-quote-left icon-2x pull-left icon-muted"></i>
                    <p>"Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
                    <small class="text-right">Margaret Thatcher</small>
                  </blockquote> 
                </article>
              </div>
              
              <ol class="carousel-indicators">
                <li data-target="#testamonials" data-slide-to="0" class="active"></li>
                <li data-target="#testamonials" data-slide-to="1"></li>
                <li data-target="#testamonials" data-slide-to="2"></li>
              </ol>  
            </section>
            --><!-- End testamonials carousel --><!--    
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="span12">  
          --><!-- Start Highlight Block --><!--
          <section class="well highlighted text-center">
            <h2>Lorem ipsum dolor sit amet consectetur</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisl dui, at interdum magna. Vivamus feugiat dui eget lectus sodales ultricies. Integer arcu neque, ultricies at porttitor a, tincidunt vulputate magna.</p> 
            <a class="btn btn-inverse btn-large" href=""><i class="icon-laptop icon-white"></i> &nbsp;Try the FREE version</a>
            <a class="btn btn-success btn-large" href=""><i class="icon-shopping-cart icon-white"></i> &nbsp;Buy licence now</a>
          </section>
          --><!-- End Highlight Block --><!--
        </div>    
      </div>
      
    </div> 
  </section>
  
  <footer class="footer container">
    <div class="container">
      <div class="row">
        <div class="span4">
          <section class="footer-column-one">
            <h4 class="footer-title">Browse Pages</h4>
            <ul class="bullets">
              <li><i class="icon-angle-right icon-white"></i> <a href="portfolio.html">Our portfolio</a></li>
              <li><i class="icon-angle-right icon-white"></i> <a href="blog.html">Read the blog</a></li>
              <li><i class="icon-angle-right icon-white"></i> <a href="faq.html">FAQs</a></li>
              <li><i class="icon-angle-right icon-white"></i> <a href="contact.html">Contact</a></li>
              <li><i class="icon-angle-right icon-white"></i> <a href="login.html">Login</a></li>
            </ul>
          </section>
        </div>
        <div class="span4">
          <section class="footer-column-two">
            <h4 class="footer-title">Recent Blog Posts</h4>
            --><!-- Post 1 --><!--
            <div class="media">
              <a class="pull-left" href="#">
                <div class="thumbnail teaser">  
                  <img class="media-object teaser" src="/assets/Home/teaser-1.jpg" alt="" />
                </div>  
              </a>
              <div class="media-body">
                <h4 class="media-heading">Consectetur adipiscing elit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisl dui augue pulvinar elementum...</p> 
              </div>
              <a class="pull-right" href="#">Read more</a>
            </div>
            --><!-- Post 2 --><!--
            <div class="media">
              <a class="pull-left" href="#">
                <div class="thumbnail teaser">  
                  <img class="media-object teaser" src="/assets/Home/teaser-2.jpg" alt="" />
                </div>  
              </a>
              <div class="media-body">
                <h4 class="media-heading">Consectetur adipiscing elit</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisl dui augue pulvinar elementum...</p> 
              </div>
              <a class="pull-right" href="#">Read more</a>
            </div>
          </section>
        </div>
        <div class="span4">
          <section class="footer-column-three">
            <h4 class="footer-title">Latest Tweets</h4>
            --><!-- To add Twitter feed, please refer to the README.txt -->
            <!-- <div class="tweet"></div> --><!--
            <div class="tweet"><ul class="tweet_list"><li class="tweet_first tweet_odd"><a class="tweet_avatar" href="#"><img src="/assets/Home/twitter-icon.png" alt="" title="" height="25" width="25" /></a><span class="tweet_time"><a href="#" title="view tweet on twitter">about 14 days ago</a></span><span class="tweet_join">we said,</span> <span class="tweet_text">I want the <span class="at">@</span><a href="http://twitter.com/mailbox">mailbox</a> Mac app so badly.</span></li><li class="tweet_even"><a class="tweet_avatar" href="#"><img src="/assets/Home/twitter-icon.png" alt="" title="" height="25" width="25" /></a><span class="tweet_time"><a href="#" title="view tweet on twitter">about 23 days ago</a></span><span class="tweet_join">we replied to</span> <span class="tweet_text"><span class="at">@</span><a href="#">onehundred_be</a> perhaps. Accepting pull requests</span></li><li class="tweet_odd"><a class="tweet_avatar" href="#"><img src="/assets/Home/twitter-icon.png" alt="" title="" height="25" width="25" /></a><span class="tweet_time"><a href="#" title="view tweet on twitter">about 24 days ago</a></span><span class="tweet_join">we were</span> <span class="tweet_text">serving coffee at <span class="at">@</span><a href="http://twitter.com/heroku">heroku</a> <a href="#" class="tweet_hashtag">#waza</a> was one of my favorite moments – amazing chats with amazing customers</span></li></ul></div>
          </section>
        </div>
      </div>
    </div>
    
    <div class="footer-credits">
      <div class="container">
        <div class="row">
          <div class="span8">
            <p class="text-left pull-left">
              &copy; 2013 Your Company Name Ltd. | All Rights Reserved
            </p>
          </div>
          <div class="span4">
            --><!-- Start Social Media Icons --><!--
            <ul class="social-media-icons pull-right">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-pinterest"></i></a></li> 
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-google-plus"></i></a></li>
            </ul>
            --><!-- End Social Media Icons --><!--
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  --><!-- Modal --><!--
  <div id="glass-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="glassmodallabel" aria-hidden="true">
    <div class="well copybox">
      <form />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="sub-title text-center" id="glassmodallabel"><span>Our</span> Newsletter</h2>
        </div>
        <div class="modal-body">   
          <label>First Name</label>
          <input type="text" name="firstname" class="span3" />
          <label>Last Name</label>
          <input type="text" name="lastname" class="span3" />
          <label>Email Address</label>
          <input type="email" name="email" class="span3" />
          <label><input type="checkbox" name="terms" /> I agree for your company to send me emails periodically.</label>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary">Sign me up</button>     
        </div>
      </form>  
    </div>  
  </div>
  --><!-- End Modal -->    
  
  <!-- Load Plugins   
  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/javascriptsj/bootstrap/bootstrap.min.js"></script>
  <script src="assets/javascripts/sequence.jquery-min.js"></script>   
  <script src="assets/javascripts/hoverIntent.js"></script>
  <script src="assets/javascripts/superfish.js"></script>
  <script src="assets/stylesheets/javascripts/jquery.vegas.js"></script> -->
  <script>
  $(document).ready(function(){
      var options = {
        nextButton: true,
        prevButton: true,
        animateStartingFrameIn: true,
        autoPlayDelay: 3000,
        preloader: true,
        pauseOnHover: false,
        preloadTheseFrames: [1],
        preloadTheseImages: [
          "/assets/Home/i1.png",
          "/assets/Home/i2.png",
          "/assets/Home/i3.png"
        ]
      }
      var sequence = $("#sequence").sequence(options).data("sequence");
      sequence.afterLoaded = function() {
        $("#sequence-theme .nav").fadeIn(100);
        $("#sequence-theme .nav li:nth-child("+(sequence.settings.startingFrameID)+") img").addClass("active");
      }
      
      sequence.beforeNextFrameAnimatesIn = function() {
        $("#sequence-theme .nav li:not(:nth-child("+(sequence.nextFrameID)+")) img").removeClass("active");
        $("#sequence-theme .nav li:nth-child("+(sequence.nextFrameID)+") img").addClass("active");
      }
      
      $("#sequence-theme").on("click", ".nav li", function() {
        $(this).children("img").removeClass("active").children("img").addClass("active");
        sequence.nextFrameID = $(this).index()+1;
        sequence.goTo(sequence.nextFrameID);
      });
  });  
  </script>  
  <!-- Load Custom Script  
  <script //src="assets/javascripts/script.js"></script> --> 