<section class="header">
    <div class="header-wrapper">
      <div class="container">
        
        <!-- Start Navbar -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <div id="brand"><a href="#"><img src="/assets/Home/glass-logo.png" alt="" /></a></div>
              <!-- Buttons (When Collapsed) -->
              <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Start Main Nav -->
              <nav style="height: 0px;" class="nav-collapse collapse">
                <ul id="navigation" class="nav">
                  <li class="active">
                    <a href="index.html">Home</a>
                  </li>
                  <li class="dropdown">
                    <a href="blog.html" class="dropdown-toggle disabled" data-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-comments.html">Blog Post <br />(with Comments)</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="single-item.html" class="dropdown-toggle disabled" data-toggle="dropdown">Page</a>
                    <ul class="dropdown-menu">
                      <li><a href="single-item-letterbox.html">Single Page <br />(Letterbox)</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="faq.html">FAQs</a>
                  </li>
                  <li class="dropdown">
                    <a href="extras.html" class="dropdown-toggle disabled" data-toggle="dropdown">Extras</a>
                    <ul class="dropdown-menu">
                      <li><a href="pricing.html">Pricing Tables</a></li>
                      <li><a href="typography.html">Typography</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a href="register.html">Registration Page</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="isotope.html">Portfolio</a>
                  </li>
                  <li>
                    <a href="portfolio.html">Expanding Portfolio</a>
                  </li>
                  <li>
                    <a href="contact.html">Contact</a>
                  </li> 
                  <li class="user-menu-divider hidden-tablet hidden-phone"><span>|</span></li>  
                  <li class="dropdown hidden-tablet hidden-phone">  
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In</a>
                    <div class="dropdown-menu">
                      <div class="well copybox login-box">  
                        <form method="post" action="#" accept-charset="UTF-8" />
                          <label for="username">Username</label>  
                          <input type="text" placeholder="Username" id="username" name="username" />
                          <label for="password">Password</label>
                          <input type="password" placeholder="Password" id="password" name="password" />
                          <input class="pull-left" type="checkbox" name="remember-me" id="remember-me" value="1" />
                          <label for="remember-me">&nbsp; Remember me</label>
                          <input class="btn btn-success btn-block" type="submit" id="sign-in" value="Sign In" />
                          <label class="text-center">or</label>
                          <a href="#" class="btn btn-primary btn-block" role="button"><i class="icon-facebook"></i>&nbsp; Sign in with Facebook</a>
                          <label class="text-center">or even</label>
                          <a href="#" class="btn btn-primary btn-block" role="button"><i class="icon-twitter"></i>&nbsp; Sign in with Twitter</a>
                        </form>
                      </div>
                    </div>
                  </li>
                </ul><!-- End User Menu -->                  
              </nav><!-- End Main Nav -->
            </div>
          </div>
        </div><!-- End Navbar -->
        
      </div>
    </div>
  </section>